@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
body { font-family: 'Lato', sans-serif;}
/*common classes start*/
.pd0{padding:0px;}
.pdl0{ padding-left:0px;}
.pdl5{ padding-left:5px;}
.pdl10{ padding-left:10px;}
.pdt20{ padding-top:20px;}
.mrb10{ margin-bottom:10px;}
.mrtb20{ margin-bottom:20px;}
.mrt20{ margin-top:20px;}
.mrt40{ margin-top:40px;}
.mr0{ margin:0px;}
.clear{ clear:both;}
.frt{ float:right;}
a{ text-decoration:none;}
a:hover{ text-decoration:none;}
/*common classes end*/

.container {  width: 1024px;}
.flex-control-nav{ display:none;}
.slider .flexslider{ background:none; border:none;}

.flex-direction-nav a.flex-next .icon-shape-copy-3:before{content: "\e919";}
.flex-direction-nav a:before{font-family: 'icomoon' !important; speak: none; font-style: normal;  font-weight: normal;  font-variant: normal;
    text-transform: none;content:"\e918"; color:#9b9b9b; font-size:26px;}
.flex-direction-nav a.flex-next:before {content: "\e919";  color: #9b9b9b; font-size:26px;}	
/*
.flex-viewport .slides li{ width:125px !important;}


 */

/*icons*/
.font10{ font-size:10px; vertical-align:middle;}
.font12{font-size:12px; vertical-align:middle;}
.font16{ font-size:16px; vertical-align:middle;}
.font18{ font-size:18px; vertical-align:middle;}
.font20{ font-size:20px; vertical-align:middle;}
.font20{font-size:20px; vertical-align:middle;}
.font34{font-size:34px; vertical-align:middle;}
.font24{font-size:24px; vertical-align:middle;}
.font22{font-size:22px; vertical-align:middle;}

/*watchlist row div wise css*/
/*

.greay_row{ padding:10px; background:#ccc;}
.watchlist_share_name{ display:inline-block;}
.watchlist_share_value{display:inline-block;}
.watchlist_share_profit_loss{display:inline-block;}
*/


/**header css start**/
.table-responsive{ border:none;}
.tabs_outer{ padding:15px 15px 0px 15px;}
.fortune_mob_scroll{ padding:0px 15px 15px 15px;}
.icon-wrapper {  position: relative;  float: none; display:inline-block; vertical-align:middle;  margin-top: 13px;}
.ts0 { margin-top: 7px;}
.badge { font-size: 12px;   color: #fff; position: absolute;  top: 2px;  right: 2px;  display: inline-block;   min-width: 10px;  padding: 0 0;  font-size: 12px;  color: #fff;   background-color: #d61a20;  border-radius: 10px;  font-weight: normal;}
.as0 { padding: 4px !important;    padding-left: 15px !important;    font-family: 'Roboto', sans-serif;  font-size: 14px;    text-align: left;    color: #9b9b9b !important;   margin-top: 16px;}
.as0:hover {background: #fff !important;}
.s0 {  font-size: 12px; color: #808080;}
.n0 { font-size: 16px;  color: #232323;}
.n1 { font-size: 16px;  color: #2ebf44;  margin-left: 10px;}
.fa-ellipsis-v { color: #9b9b9b;}
.right {float:right;}
.dropdown-menu>li>a {   color: #428bca;}
.dropdown ul.dropdown-menu { border-radius: 4px;   box-shadow: none;    margin-top: 20px;}
.dropdown ul.dropdown-menu:before {content: "";   border-bottom: 10px solid #fff;    border-right: 10px solid transparent;    border-left: 10px solid transparent;    position: absolute;  top: -10px;  right: 68%;    z-index: 10;}
.dropdown ul.dropdown-menu:after { content: "";  border-bottom: 12px solid #ccc; border-right: 12px solid transparent;    border-left: 12px solid transparent;    position: absolute;    top: -12px;  right: 68%;  z-index: 9;}
.navbar {min-height: 50px;    margin-bottom: -1px;}
.header-bottom { /*background: linear-gradient(to right, #0064ac, #008aa8);*/  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);    margin-top: 18px;}
.gradient{ background-image: linear-gradient(88deg, #ab9459, #fcf1bd); /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);*/}
.menu li a {  font-family: 'Lato', sans-serif;    font-size: 14px;    text-align: left;    color: #ffffff; padding-top:13px; padding-bottom:13px;}
.menu .active a{ font-weight:bold;}
.footermenu{ width: 55%;  margin: 0 auto;   text-align: center;    float: none;}
.footermenu li a {  font-family: 'Lato', sans-serif;    font-size: 12px;    font-weight: bold;   color: #ffffff;}
.menu>li>a:focus, .menu>li>a:hover {  text-decoration: none;}
.menu>li>a:active,{   border-bottom: solid 4px #ffffff;}
.footermenu>li>a:focus, .footermenu>li>a:hover {   text-decoration: none;    background-color: #ab9459 !important;}
footer { background: linear-gradient(to right, #0064ac, #008aa8);}
.bg {  background-color: #ececec;    margin-top: 3px;}
.navbar-toggle {  position: relative;    float: right;    padding: 9px 10px;    margin-top: 8px;    margin-right: 15px;    margin-bottom: 8px;    background-color: #fff !important;  border-radius: 4px;}
.right .navbar-nav{ margin:0px; display:inline-block; float:none; vertical-align:middle;}	
.navbar-toggle .icon-bar { display: block;    width: 22px;    height: 2px;    border-radius: 1px;    background: #000;}
.input-group-addon {/*background: linear-gradient(to right, #0064ac, #008aa8);*/ background: linear-gradient(314deg, #ab9459, #fcf1bd);    padding:15px 16px 15px 15px !important; cursor:pointer;}
.input-group {  background-color: #ffffff;    border-radius: 4px;    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.22);}
.input-group input {  height: 52px;}
.fa-search {    font-size: 20px !important;    color: #fff;}
#imaginary_container .input-group .form-control { position: relative;  z-index: 2;    float: left;    width: 100%;    margin-bottom: 0;    font-size: 18px;    text-align: left;color: #232323;  }
::-webkit-input-placeholder {color: #9b9b9b;}
.sp0 { margin-top: 20px;}
.chatbox { margin-top: 8px;}
.chat { background: #0062a8;    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.22);    border-radius: 4px;    padding: 5px 10px;}
.chatcontent { padding-left: 0px;    padding-right: 0;}
.chat:after {  content: '';    display: inline-block;    border-left: 19px solid transparent;    border-right: 0px solid transparent;    border-bottom: 13px solid #0062a8;    position: absolute;  top: 18px;   left: -14px;}
.chat_sec{}
.chat_sec .chat_icon{ display:inline-block;}
.text { color: #fff;    font-size: 14px;}
/*Panel tabs*/
.panel-tabs > li {float: left;    margin-bottom: 0px;    padding-bottom: 3px;    padding-top: 7px; font-size:16px; text-transform: uppercase;}
.panel-tabs > .active > a{ font-weight:bold;}
.panel-tabs > li > a {    margin-top: 4px;    line-height: .85;  border: 1px solid transparent;    border-radius: 4px 4px 0 0;    color: #ffffff;}
.yes-fortune > li > a{ margin:0px;     padding: 0px 20px;}
.yes-fortune > li{    padding: 6px 0px 15px;}
.panel-tabs > li > a:hover { border-color: transparent;    color: #ffffff;    background:none;}
.panel-heading .panel-tabs>li>a:focus, .nav>li>a:hover{ background:none;}
.lft0 {  padding-left: 8%;}
.icons { width: 56px;   height: 57px;    border-radius: 4px;   background-image: linear-gradient(134deg, #ab9459, #fcf1bd 100%, #fcf1bd);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);   text-align: center;    vertical-align: middle;    line-height: 51px; margin:0 auto;}
.panel-heading { border-radius: 4px 4px 0px 0px;    /*background-image: linear-gradient(to right, #0064ac, #008aa8);*/}
.panel-primary>.panel-heading { color: #fff; border:none;    /*background-color: #337ab7;    border-color: #337ab7;*/    padding: 0; height:54px;}
.tb0 {    margin-top: 45px;}
.view {   font-size: 16px;    color: #0062a9;    float: right;    padding:0px;}
.view_more_link{ padding:20px 30px 0px; clear:both;}
.viewmore {  font-size: 16px;    color: #0062a9;    float: right;    padding: 20px 20px 0px 0px;}
.net-position {  border-collapse: collapse;    border-spacing: 0;    width: 100%; margin-bottom:0px;}
.shwmore { float: right;   /* padding: 58px; */    padding-top: 2%;  padding-right:20px;   font-size: 16px;   color: #0062a9;}
.red {  font-size: 14px;  color: #d71920 !important;  font-weight: normal;}
.box-net {  border-radius: 4px;   background-color: #ffffff;    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);    padding: 0;}
.net-position th,td {   border: none;    text-align: left;    padding:8px 8px 8px 15px !important;   width:33.33%; vertical-align:middle !important;}
.acc_bal{ font-size:14px; color:#808080; padding:15px 0px 10px 15px;}
.brd{ border-top:1px solid #b3b3b3;}
.recom_table .net-position th {   font-size: 16px;    color: #232323; border:none; font-weight:normal;}
.tab-content .table td{border:none;}
.panel-primary {    border-color: rgba(0, 0, 0, 0.23) !important;}
.net-position td {   font-size: 14px;    color: #232323;}
.mx {  border-right: solid 0.5px #b3b3b3;}
.net-position tr:nth-child(odd) {   background-color: #f6f6f6;    height: 56px;}
.box-net .net-position thead tr{ background:none;}
.box-net .table>thead>tr>th{ border:none;}
.net-position tr:nth-child(even) {  height: 56px;}
.month_per{ color:#b3b3b3; font-size:14px;}
.carousel-inner .active {  border-bottom: none !important;}
.carousel {  margin-bottom: 0;}
.green {  font-size: 14px;    color: #2ebf44 !important;    font-weight: normal;}
.net-title {   font-size: 16px;   /* text-align: left; */     color: #232323;  padding-top:2px;    padding-bottom: 2px;    font-weight: 600;}
.mf0 {  margin-left: 15px;}
.imgcen {  margin: 0 auto;}
.yesf {  padding-bottom: 2%;}
/* The controlsy */
.carousel-control {  left: -12px;    height: 40px;    width: 40px;    background: none repeat scroll 0 0 #ececec;    border: 4px solid #ececec;    border-radius: 23px 23px 23px 23px; top: 9px;}
.carousel-control.left {  background-image: linear-gradient(to right, #ececec 0, #ececec 100%);    background-repeat: repeat-x;}
.carousel-control.right {  background-image: linear-gradient(to right, #ececec 0, #ececec 100%);    background-repeat: repeat-x;}
/* The indicators */
.carousel-indicators {  right: 50%;    top: auto;    bottom: -10px;    margin-right: -19px;}
/* The colour of the indicators */

.carousel-indicators li { background: #cecece;}
.intraday_trades{ margin-top:20px;}
.carousel-indicators .active {background: #428bca;}
.te0 { font-size: 14px; color: #808080; font-weight: normal;}
.amount {font-size: 24px;   color: #808080; font-weight: normal;}
.r0 {  color: #808080;  font-size: 14px;  font-weight: normal;}
.line-right {  border-right: solid 0.5px #b3b3b3;  padding-left: 0;  padding-right: 0;}
.recom { padding-left: 0;   padding-right: 0;}
.recom_table{}
.np0 { padding-left: 0;    padding-right: 0;}
.slides .icon-title {  font-size: 14px;    color: #232323;    margin-top: 20px; text-align:center; line-height:17px ; font-family: 'Roboto', sans-serif; }
.yes-fortune li a {  color: #000;}
.heading { padding: 14px 0 21px 16px !important;}
.rft0 {  margin-left: 8px;   font-size: 16px;    font-weight: bold;    color: #ffffff;   vertical-align: middle;}
.yes-fortune>.active { border-bottom: solid 4px #232323;  font-weight: bold;}
.recommandations_sec .yes-fortune li a{ color:#808080; font-weight:normal;}
.recommandations_sec .yes-fortune .active a{ color:#232323;}
.recommandations_sec .table{}
.recommandations_sec .table th{ text-align:center;     padding: 8px 20px 8px 0px !important; line-height:17px;}
.recommandations_sec .table td{ text-align:center;     padding: 8px 20px 8px 0px !important;}
.yes-fortune > li > a:hover {  border-color: transparent;    color: #000;   background-color: #fff;}
.shape { padding-left: 16px;}
.yes-fortune {  position: relative;   left: -15px; border-bottom:1px solid #979797; width:105%}
.insight { font-size: 16px;  font-weight: bold;  text-align: left;    color: #232323;}
/*.ri-li { padding: 0px 30px 0px 15px;}*/
.brd_center{ border-left:1px solid #b3b3b3; border-right:1px solid #b3b3b3; padding:0px 25px;}
.lf_sec{ padding:0px 0px 0px 30px;}
.rt_sec{ padding:0px 30px 0px 0px;}
.insight-pad {  padding: 7%;    padding-bottom: 0;}
.insight-title {  font-size: 14px;    color: #232323;    font-weight: 600;}
.go {  font-size: 14px;    color: #0062a9;}
.insight-para {  font-size: 14px;    color: #838383;    font-weight: normal;}
.insight-pad0 {    padding: 3%;    padding-bottom: 0;    padding-top: 0;}
.bb0 {    border-bottom: solid 0.5px #9b9b9b;}
.time {    font-size: 12px;    color: #838383;    font-weight: normal;}
.news-para {    font-size: 14px;    color: #0062a9;    padding-top: 5px;    padding-bottom: 19px;    margin-bottom: 0;}
.mtop {    margin-top: 20px;}
.sell {    font-size: 16px;    font-weight: bold;    color: #fff;}
.active {  border-bottom: solid 4px #ffffff;    /*font-weight: bold;*/}
.drop {  float: right; cursor:pointer;}
.dd { position: relative;   padding: 16px 10px 35px 17px;    color: #FFF;    border-top-left-radius: 4px;    border-top-right-radius: 4px;   /* background-color: #b2dfed;*/ background-color:#b3b3b3;}
h1 {  margin: 0;    padding: 0;    float: left;    font-size: 26px;}
small {  font-size: 14px;    color: #666;    font-weight: normal;}
svg {  height: 24px;    width: 24px;}
svg circle {   fill: #626262;}
.dd-menu {  position: absolute;    top: 70%;    right: 20px;    z-index: 1000;   font-size: 14px;    text-align: left;    background-color: #fff;    border: 1px solid #ccc;    border: 1px solid rgba(0, 0, 0, 0.15);    border-radius: 4px;    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);    background-clip: padding-box;    -webkit-transition: all 0.2s ease;    opacity: 0;    ebkit-transform-origin: right top 0px;    -webkit-transform: scale(0);}
.dd-menu ul {   min-width: 160px;    padding: 5px 0;   margin: 2px 0 0;    list-style: none;    position: relative;}
.dd-menu.active { opacity: 1;  -webkit-transform-origin: right top 0px;  -webkit-transform: scale(1);}
.dd-menu li { color: #666;   margin: 0;    padding: 5px 0 5px 15px;    height: 24px;    list-style: none;    opacity: 0;    transform: translateY(0px);}
.dd-menu li {-webkit-transition: all 0.3s ease;   transform: translateY(-30%);}
.dd-menu.active li { opacity: 1;  transform: translateY(0px);}
.buy-sel {border-radius: 4px; background-color: #ffffff;  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);}
.sel0 { PADDING-RIGHT: 0;}
.sell-content { padding:10px 0px;}
.sell-content ul{ padding:0px; margin:0px;}
.sell-content ul li{ display:inline-block; padding:5px 11px;}
.brd_rt{ border-right:1px solid #b3b3b3;}
.buy_sell_icon{ margin:0 auto; text-align:center;}
.sell-content .buy_sell_cont{ color:#0062a9; font-size:14px; text-align:center;}
.buy_sell_view_more{ text-align:right; padding-top:10px; padding-right:15px;}
.buy_sell_hd{ padding-left:10px; vertical-align:middle;}
.buy_sell_view_more a{}

.watchlist_sec .panel-tabs > li > a{color:#808080; padding:0px;}
.watchlist_sec .panel-tabs>.active { border-bottom: solid 4px #232323; padding-bottom:20px;}
.watchlist_sec .panel-tabs>.active a{ color:#232323;}
.watchlist_sec .table-striped>tbody>tr:nth-of-type(odd){ background:#f7f7f7;}
.watchlist_table .table{ margin-bottom:0px;}
.watchlist_table .table td{ color:#232323; vertical-align:middle;}
.watchlist_table .table td a{ font-size:14px;     line-height: 40px;}
.watchlist_table .table .values_down{ color:#d71920; font-size:14px;}
.watchlist_table .table .values_up{ color:#2ebf44; font-size:14px;}
.watchlist_sec .sell-content{ padding:10px 0 0 0;}
.watchlist_sec .active{ border:none;}
.watchlist_table ul{}
.watchlist_table ul li{ padding: 0px 1px;}
.watchlist_table .table td ul li a{ padding:0px; line-height:normal;}
.watchlist_table .table td ul li a:hover{ background:none;}
.watchlist_table .trend_sec{ position:absolute; z-index:1; background:#fff; width:94%; height:64px; margin:0 auto; text-align:center; border-top:1px solid #b3b3b3 !important; border-bottom:1px solid #b3b3b3 !important;}
.watchlist_table .watchlist_buttons_sec .close{border:none; background:none; line-height:10px;}
.trend_sec{display:none; z-index:1; left:5px; position:absolute;}
.trend_sec ul{ padding:0px; margin:0px;}
.trend_sec ul li{ padding:16px 2px;}
.trend_sec ul li a{ padding:0px; border:none; background:none;}
.trend_sec ul li a:hover{ background:none;}
.trend_sec ul .close{ float:none; opacity:1;}

.recommandations_sec .fortune_mob_scroll .table .trend_sec{ padding:0px !important; width:99%; background:#fff;}
.recommandations_sec .fortune_mob_scroll .table td .close{ border:none; background:none;}


.rec_list_sec{}
.list_type{ color:#b3b3b3; font-size:14px;}
.rec_list_sec select.form-control {border: none; box-shadow: none; border-bottom: 1px solid #979797; color:#232323;   border-radius: 0; padding:0px; height:20px;  -moz-appearance: none;  -webkit-appearance: none;   appearance: none;  background-image: url(../images/select_list_arrow.png);   background-repeat: no-repeat;  background-size: 9px;   background-position: right 10px;}
.portfolio_floating_hd{ color:#808080; font-size:14px;}
.portfolio_value{ font-size:24px; color:#808080;}
.down_value{ font-size:14px; color:#d71920;}
.up_value{ font-size:14px; color:#2ebf44;}
.value_down_color{ color:#d71920;}
.value_up_color{ color:#2ebf44;}



/*Research_advisory css*/
.stock_tabs_outer{}
.stock_tabs_outer .brd_bottom{    position: relative;  left: 0px; padding:15px 0 0px 0; border-bottom: 1px solid #979797; width: 100%;}
.model_view_more{text-align: right; padding: 0px 20px 10px;}
.model_view_more a{ text-align:right; padding:0px 0px 10px; color:#0062a9; font-size:16px;}
.portfolio_table .table thead th{ font-size:16px; font-weight:bold; padding:15px 17px; border:none;}
.portfolio_table .table tbody td{ font-size:14px; color:#232323; padding:15px 17px !important;border:none;}
.buy-sel .portfolio_hd{ padding:16px 10px 10px 17px;}
.helath_score_outer_sec{ padding-top:25px;}
.helath_score_outer_sec .health_score{font-size:30px; color:#626262; text-align:center;}
.helath_score_outer_sec .health_score_cont{ font-size:14px; color:#626262; text-align:center;}
.portfolio_trades_bg{ background:#f7f7f7; padding:20px;}
.portfolio_cont{ font-size:16px; color:#232323; text-align:center;}
.sell_stocks{ font-size:14px; color:#808080;}
.sell_stocks span{ color:#0062a9; font-size:14px;}
.sell_button, .buy_button{ font-size:16px; margin-top:15px;}
.sell_button a{ color:#d71920; border:1px solid #d71920; padding:3px 15px; border-radius:4px; }
.buy_button a{ color:#2ebf44; border:1px solid #2ebf44; padding:3px 15px; border-radius:4px; }
.see_reseach_link{ padding-top:30px;}
.sell_stocks_score{ text-align:center;}
.see_reseach_link a{ font-size:14px;   color: #0062a9;}
.center_sec{ border-left:1px solid #b3b3b3; border-right:1px solid #b3b3b3;}
.sell_stocks_sec{padding: 20px 10px 20px 10px}
.stocks_view_more_btn{ text-align:right; font-size:16px; padding:15px 20px 15px 0; background:#f7f7f7;}
.portfolio_health_score{ padding:20px;}
.portfolio_health_score_img{ display:inline-block;}
.recom_table .table .text-left{ text-align:left;}
.recom_table .table th,.recom_table .table td{ padding:8px 20px 8px 20px !important;} 
.recom_table .shwmore{ padding:0px; text-align:center; float:none; padding:20px 0px;}
.research_report_sec{ padding:20px;}
.research_report_sec .res_report_column{ width:20%; float:left; padding-right:10px; padding-left:15px;}
.res_rep_hd{ font-size:14px; color:#232323; line-height:17px; padding-bottom:5px;}
.res_rep_cont{ font-size:14PX; color:#838383;}
.read_more_link{ font-size:14px; color:#0062a9; padding-top:5px;}
.brd_right{ border-right:1px solid #979797;}
.res_rep_view_more{ padding-top:10px;}
.res_rep_view_more a{ font-size:16px; float:right;}


/*Quotes page css start*/
.breadcrumb_sec{}
.breadcrumb_sec .main_menu{ font-size:14px; color:#626262;}
.quotes_sec .panel-tabs > li{ font-size:14px; text-transform:capitalize;    padding-bottom: 5px;  padding-top: 7px;}
.quotes_sec .panel{ border:none;}
.share_buy_sell_sec{ padding:30px 30px 15px 30px;}
.nse_bse_main_tabs{}
.nse_bse_main_tabs ul{ padding:0px; margin:0px;}
.nse_bse_main_tabs ul li{ list-style:none; display:inline-block; padding-right:2px; color:#808080;}
.nse_bse_main_tabs ul li a{color:#808080;}
.nse_bse_main_tabs ul .sel a{ color:#0062a9; font-weight:bold;}
.share_name_sec .share_name{ font-size:36px; color:#808080;}
.share_name_sec .share_sub_title{ font-size:14px; color:#808080;}
.share_actual_value{ font-size:36px; color:#2ebf44;}
.share_profit_loss{ font-size:14px; color:#2ebf44;}
.buttons_sec{ position:relative; top:-25px;}


.watchlist_table .watchlist_buttons_sec{ padding-top:7px;}
.watchlist_buttons_sec ul{ padding:0px; margin:0px;}
.watchlist_table .watchlist_buttons_sec li{ padding:0px 4px;  margin-right:5px;}
.watchlist_table .table td .watchlist_buttons_sec li a{ padding:2px 10px;}
.watchlist_buttons_sec .buy_btn{border-radius:4px; color:#2ebf44; text-align:center; display:inline-block; margin-right:5px; padding:0px;}
.watchlist_buttons_sec .buy_btn a{ color:#2ebf44; padding:1px 10px; font-size:16px;  border:1px solid #2ebf44;}
.watchlist_buttons_sec .sell_btn{border-radius:4px;  color:#2ebf44; text-align:center; display:inline-block; padding:0px;}
.watchlist_buttons_sec .sell_btn a{ color:#d71920; padding:1px 10px; font-size:16px; border:1px solid #d71920;}
.watchlist_buttons_sec .yf_btn{border-radius:4px; border:1px solid #0062a9; color:#2ebf44; text-align:center; display:inline-block; margin-right:5px; padding:0px;}

.watchlist_buttons_sec .yf_btn a{ color:#0062a9; padding:1px 10px; font-size:16px;}
.watchlist_buttons_sec .search_btn{border-radius:4px; color:#626262; text-align:center; display:inline-block; margin-right:5px; padding:0px;}
.watchlist_buttons_sec .search_btn a{ color:#626262; padding:1px 10px; font-size:16px;  border:1px solid #626262; padding:0px 18px 4px 18px !important;}

.watchlist_buttons_sec .graph_btn{border-radius:4px; color:#626262; text-align:center; display:inline-block; margin-right:5px; padding:0px;}
.watchlist_buttons_sec .graph_btn a{ color:#626262; padding:1px 10px; font-size:16px;  border:1px solid #626262; padding:0px 16px 4px 16px !important;}
.watchlist_buttons_sec .watchlist_icon .icon-group:before{ color:#626262;}

.watchlist_table .watchlist_buttons_sec li:nth-child(5n) a{ padding:0px 5px 0 0 !important;}


.buttons_sec .buy_btn{ font-size:16px; border-radius:4px; border:1px solid #2ebf44; color:#2ebf44; text-align:center; display:inline-block; margin-right:5px;}
.buttons_sec .buy_btn a{color:#2ebf44; padding:3px 10px;}
.buttons_sec .sell_btn{font-size:16px; border-radius:4px; border:1px solid #d71920; text-align:center; color:#d71920; display:inline-block;  margin-right:5px;}
.buttons_sec .sell_btn a{color:#d71920; padding:3px 10px;}
.buttons_sec .watchlist_btn{font-size:16px; border-radius:4px; border:1px solid #0062a9; text-align:center; color:#0062a9; display:inline-block; }
.buttons_sec .watchlist_btn a{color:#0062a9; padding:3px 10px;}
.buttons_sec .buy_btn a:hover, .buttons_sec .sell_btn a:hover, .buttons_sec .watchlist_btn a:hover{ text-decoration:none;}
.graph_ratings{}
.graph_ratings ul{ margin:0px; padding:0px;}
.graph_ratings ul li{ list-style:none; display:inline-block; margin-right:18px; font-size:14px;}
.graph_ratings ul li:first-child{color:#d71920;}
.graph_ratings ul li:nth-child(2n){ color:#626262;}
.graph_ratings ul li:last-child{ color: #2ebf44;}
.trade_value .pulse_btn{ color:#0062a9; font-size:16px; background:#b2dfed; border-radius:2px; display:inline-block; padding:3px 15px; margin-right:15px;}
.trade_value .pulse_cont{display:inline-block; font-size:14px; color:#808080;}
.alternate_sug_hd{ font-size:14px; color:#808080; padding-bottom:10px;}
.suggest_shares ul{ padding:0px; margin:0px;}
.suggest_shares ul li{ list-style:none; border-bottom:1px solid #ccc; padding:10px 0px 10px;}
.suggest_shares ul li:last-child{ border:none;}
.suggest_shares ul li .sug_share_name{ display:inline-block; color:#0062a9; font-size:14px; text-align:left;}
.suggest_shares ul li .sug_share_value{display:inline-block; color:#2ebf44; font-size:14px; }
.suggest_shares ul li .sug_share_score{display:inline-block; margin-left:30px;}
.overview_table{}
.overview_table .floating_name{ font-size:12px; color:#808080;}
.overview_table .over_value{ font-size:16px; color:#626262;}
.price_mov_hd{ font-size:16px; color:#808080;display:inline-block;}
.price_mov_sec{ padding:20px 0 0 0 ;}
.price_mov_days{ display:inline-block;}
.price_mov_days ul{ margin:0px; padding:0px;}
.price_mov_days ul li:first-child{ margin-left:7px;}
.price_mov_days ul li{ list-style:none; display:inline-block; border:1px solid #0062a9; border-radius:2px; color:#0062a9; margin-left:5px;}
.price_mov_days ul li a{ padding:2px 7px; font-size:12px;}
.price_mov_days ul li a:hover{ text-decoration:none;}
.price_mov_days ul .sel{ background:#0062a9;}
.price_mov_days ul .sel a{ color:#fff;}
.overive_view_more_btn{ text-align:right; font-size:16px; color:#0062a9;}
.overive_view_more_btn a{color:#0062a9; text-decoration:none;}
/*.overview_table th, td{ padding:12px 8px !important; width:auto;}*/
.yes_recom{}
.yes_recom .yes_recm_hd{}
.yes_fortune_logo{ padding-left:10px; padding-right:20px;}
.recm_hd{ font-size:16px; font-weight:bold;}
.yes_recom .yes_recm_sec{ padding-top:20px;}
.yes_recm_sec .overview_brd { border-left:1px solid #979797; border-right:1px solid #979797;}
.over_rec .alternate_sug_sec .alternate_sug_hd{ color:#232323;}
.sell_sec{ padding-top:70px;}
.sell_sec .sell_hd{ text-align:center; font-size:36px; color:#232323;}
.sell_sec .sell_cont{ font-size:14px; color:#838383; text-align:center;}
.res_rel_rep_hd{ font-size:14px; color:#232323; }
.report_sec .report_time{ font-size:12px; color:#838383; padding-top:10px;}
.report_link{ font-size:14px; color:#0062a9; padding-bottom:20px; padding-top:10px;}
.report_bottom_brd{border-bottom:1px solid #ececec;}
.yes_recm_sec .col-sm-4{ padding:0px 25px;}
.recom_view_more{ text-align:right; font-size:16px;}
.recom_view_more a{ color:#0062a9;}
.reco_date { font-size:12px; color:#888888;}



/*Portfolio page css start*/
.my_networth_sec{}
.my_networth_sec .my_networth_hd{ font-size:14px; color:#808080;}
.my_networth_sec .my_networth_score{ font-size:36px; color:#808080;}
.enhance_sec{}

.health_score_img img{ text-align:center; margin:0 auto;}
.enhance_sec .port_health_score{ font-size:36px; color:#626262; display:inline-block; margin-right:10px;}
.enhance_sec .port_health_score_hd{ font-size:14px; color:#626262; line-height:16px; display:inline-block; margin-right:20px;}
.enhance_btn{display:inline-block;}
.enhance_sec .enhance_btn a{ color:#0062a9; font-size:16px; border-radius:4px; border: solid 1px #0062a9; padding:2px 20px;}
.irr{ display:inline-block;}
.irr_adv{ margin-right:8px;}
.add_btn, .download_btn{ display:inline-block; padding-right:15px;}
.top_heading_sec{ padding:10px 30px;}
.arrow{ display:inline;}
.add_download_btn{ float:right; line-height:40px;}
.main_card_sec .panel-default{ border:none; box-shadow:none;}
.main_card_sec .panel-default>.panel-heading+.panel-collapse>.panel-body{ border:none;}
.main_card_sec .panel-default>.panel-heading{ background:none; border:none;}
.main_card_sec .panel-group{ margin-bottom:0px;}
.main_card_sec .panel-body{ padding:0px;}
.stocks_holdings{ padding:20px;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{ border:none; background:#0062a9; color:#fff;}
.stocks_holdings .nav-tabs>li{ width:50%; border:1px solid #0062a9; font-size:16px; text-align:center; border-radius:0; }
.unrelized_cur_hoding_table th{ font-size:16px; text-align:center; color:#232323; font-weight:normal;}
.unrelized_cur_hoding_table td{ font-size:14px; text-align:center;}
.unrelized_cur_hoding_table .edit{}
.unrelized_cur_hoding_table .edit a{ color:#0062a9; font-size:16px;}
.show_more{ padding:10px 0px; text-align:right; }
.table_ft_download_btn{ text-align:center;}
.table_ft_patch{ margin-top:10px; border-bottom:1px solid #979797;}
.table_ft_download_btn a{ border:1px solid #0062a8; padding:8px 80px; display:inline-block; border-radius:4px; font-size:14px; color:#0062a8;}
.corporate_patch{ background:#fcf1bd; margin-top:10px; padding:8px 8px 8px 20px;}

.stocks_holdings .nav-tabs>li>a{ margin:0px; border:none; border-radius:0;}
.stocks_holdings .nav-tabs .active a{ background:#0062a9; color:#fff; font-size:16px; border-radius:0;}
.asset_allocation_sec .panel{ border:none;}
.sec_wise_seg{ text-align:center; margin:0 auto;}
.sec_graph img{ text-align:center; margin:0 auto; }
.sector_hd{ font-size:16px; color:#485465; font-weight:bold;  padding-bottom:20px; }
.graph_view_all{ font-size:12px; color:#0062a8; padding-top:20px;}
.share_list{ border-bottom:1px solid #ccc; padding:5px 0px; }
.brd_bot{ border-bottom:1px solid #ccc;}
.share_list .share_name{ display:inline-block; float:left; font-size:12px; color:#4a3d1b;}
.share_list .share_per{display:inline-block; float:right; font-size:12px; color:#4a3d1b;}
.share_buy_sell_sec .graph_per_center{ margin:0 auto; float:none;}
.graph_percentage{ padding-top:20px;}
.circle{width: 8px;height: 8px;	background: red;	-moz-border-radius: 50px;	-webkit-border-radius: 50px;	border-radius: 50px;}
.trade_patch{ padding:15px 0px; background:#f7f7f7; text-align:center; margin-bottom:20px; font-size:16px; color:#232323;}
.alert_not_tab .nav-tabs{ border:none;}
.alert_not_tab .nav-tabs li a{ background:none; color:#808080; margin:0; border:none; padding:0px 10px;}
.alert_not_tab .nav-tabs li a:hover{ background:none; color:#000; border:none; margin:0px;}
.alert_not_tab .nav-tabs .active a{ background:none; border:none; color:#232323;} 



/*Accordian css code*/
.main_card_sec .panel-heading {padding: 0;	border: 0;}
.main_card_sec .panel-group .panel+.panel{ margin-top:20px;}
.main_card_sec .panel-title>a, .main_card_sec .panel-title>a:active {	display: block;	padding: 15px;	color: #555;	font-size: 16px;	font-weight: bold;	text-transform: uppercase;	letter-spacing: 1px; word-spacing: 3px;	text-decoration: none;}
.main_card_sec .panel-heading a:before {font-family: 'Glyphicons Halflings';	content: "\e114";	float: right;	transition: all 0.5s;}
.main_card_sec .panel-heading.active a:before {-webkit-transform: rotate(180deg);	-moz-transform: rotate(180deg);	transform: rotate(180deg);}
.profit_booked{ background:#dfdfdf; padding:10px 0px;}
.any_profit_booked{ font-size:16px; text-align:center;}



/*Common classes start*/
.floating_hd{ color:#808080; font-size:12px;}
.count{ color:#626262; font-size:16px;}
.loss_red{ color:#d71920;}
.profits_green{ color:#2ebf44;}
.pdt40{ padding-top:40px;}
/*Common classes end*/

 
/** carousel css start**/
.carousel-inner .item .col-md-2{ width:20%;}
.carousel-showmanymoveone .carousel-control { width: 4%;  background-image: none;}
.carousel-showmanymoveone .carousel-control.left { margin-left: 0;}
.carousel-showmanymoveone .carousel-control.right { margin-right: 0;}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3 { display: none;}
.carousel .item .col-xs-12 { padding: 0;}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
   .carousel .item .col-xs-12:nth-last-child(-n+2) {   display: none; }
}

@media all and (min-width: 768px) {
   .carousel-showmanymoveone .carousel-inner > .active.left,
   .carousel-showmanymoveone .carousel-inner > .prev {  left: -50%;}
   .carousel-showmanymoveone .carousel-inner > .active.right,
   .carousel-showmanymoveone .carousel-inner > .next {  left: 50%;}
   .carousel-showmanymoveone .carousel-inner > .left,
   .carousel-showmanymoveone .carousel-inner > .prev.right,
   .carousel-showmanymoveone .carousel-inner > .active { left: 0;   }
   .carousel-showmanymoveone .carousel-inner .cloneditem-1 { display: block;}
}

@media all and (min-width: 768px) and (transform-3d),
all and (min-width: 768px) and (-webkit-transform-3d) {
   .carousel-showmanymoveone .carousel-inner > .item.active.right,
   .carousel-showmanymoveone .carousel-inner > .item.next { -webkit-transform: translate3d(50%, 0, 0);   transform: translate3d(50%, 0, 0);  left: 0;}
   .carousel-showmanymoveone .carousel-inner > .item.active.left,
   .carousel-showmanymoveone .carousel-inner > .item.prev {-webkit-transform: translate3d(-50%, 0, 0);  transform: translate3d(-50%, 0, 0);   left: 0;}
   .carousel-showmanymoveone .carousel-inner > .item.left,
   .carousel-showmanymoveone .carousel-inner > .item.prev.right,
   .carousel-showmanymoveone .carousel-inner > .item.active { -webkit-transform: translate3d(0, 0, 0);   transform: translate3d(0, 0, 0);   left: 0; }
}

@media all and (min-width: 992px) {
   .carousel-showmanymoveone .carousel-inner > .active.left,
   .carousel-showmanymoveone .carousel-inner > .prev {  left: -20%;}
   .carousel-showmanymoveone .carousel-inner > .active.right,
   .carousel-showmanymoveone .carousel-inner > .next {   left: 20%; }
   .carousel-showmanymoveone .carousel-inner > .left,
   .carousel-showmanymoveone .carousel-inner > .prev.right,
   .carousel-showmanymoveone .carousel-inner > .active { left: 0;}
   .carousel-showmanymoveone .carousel-inner .cloneditem-2,
   .carousel-showmanymoveone .carousel-inner .cloneditem-3 { display: block;}
}

@media all and (min-width: 992px) and (transform-3d),
all and (min-width: 992px) and (-webkit-transform-3d) {
   .carousel-showmanymoveone .carousel-inner > .item.active.right,
   .carousel-showmanymoveone .carousel-inner > .item.next { -webkit-transform: translate3d(20%, 0, 0);  transform: translate3d(20%, 0, 0);  left: 0; }
   .carousel-showmanymoveone .carousel-inner > .item.active.left,
   .carousel-showmanymoveone .carousel-inner > .item.prev { -webkit-transform: translate3d(-20%, 0, 0);   transform: translate3d(-20%, 0, 0);   left: 0; }
   .carousel-showmanymoveone .carousel-inner > .item.left,
   .carousel-showmanymoveone .carousel-inner > .item.prev.right,
   .carousel-showmanymoveone .carousel-inner > .item.active {  -webkit-transform: translate3d(0, 0, 0);   transform: translate3d(0, 0, 0);    left: 0;}
}

  
  
  
  